@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  /* width */
  ::-webkit-scrollbar {
    width: 9px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0c15619c;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c1561;
  }
}
